.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.gradient-bg {
  background-image: linear-gradient(45deg, rgb(9, 129, 73), rgb(86, 14, 202), rgb(199, 49, 166));
  background-size: 400%;
  animation: movement linear alternate-reverse 30s infinite;
}

@keyframes movement {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}